@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
    --color-primary-pink: #E4559B;
    --color-secondary-pink: #FCEEF5;
    --color-hover-pink: #cd4d8c;

    --color-primary-blue: #51A7D3;
    --color-secondary-blue: #C9E4F1;
    --color-hover-blue: #2886C6;

    --color-primary-purple: #2E0065;
    --color-secondary-purple: #BEB0CF;
    --color-hover-purple: #23004C;

    --font-sans: 'Poppins', sans-serif;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-slide-left {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slide-right {
  animation: slideInRight 1s ease-out forwards;
}

.hover-rotate:hover {
  transform: rotate(5deg) scale(1.05);
  transition: all 0.5s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
display: none;
}

.no-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

#sidebar.collapsed{
width:80px;
}

#sidebar.collapsed .sidebar-text{
display:none;
}

#sidebar.collapsed .sidebar-logo{
display:none;
}

#sidebar.collapsed nav a{
justify-content:center;
}

#content.expanded{
margin-left:80px;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Animasi Khusus Samping */
.reveal-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E4559B;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E43292;
}
x